<div>
  <div class="tooltip-wrapper" style="border: 0.3em solid {{color}};">
    <h5 id="vehicle-name" style="background-color: {{color}}">{{name}}</h5>
    {{#devices}}
      <div class="position-information">
        <div>{{#i18n}}plannings.edit.device_name_label{{/i18n}} <span id="position-device-name">test</span></div>
        <div>{{#i18n}}plannings.edit.vehicle_speed{{/i18n}} <span id="device-speed"> 21 km/h</span></div>
        <div>{{#i18n}}plannings.edit.vehicle_last_position_time{{/i18n}} <span id="speed-last">17 octobre 2018 12:07:40</span></div>
      </div>
      {{#sopac_ids}}
      <hr>
      <h5>{{#i18n}}plannings.edit.sopac_title{{/i18n}}</h5>
      <div class="tooltip-temperature-information">
      {{#items}}
        <div class="temperature-wrapper">
          <div>
            <span id="label-{{vehicle_id}}-{{id}}">
              <i class="fa fa-wifi fa-fw"></i><span>{{#i18n}}plannings.edit.device_name_label{{/i18n}} {{text}}</span>
            </span>
          </div>
          <div>
            <span id="temperature-{{vehicle_id}}-{{id}}">
              <i class="fa fa-thermometer-half fa-fw"></i><span>{{#i18n}}plannings.edit.temperature_label{{/i18n}}</span>
            </span>
          </div>
          <div>
            <span id="last-date-{{vehicle_id}}-{{id}}">
              <i class="fa fa-clock-o fa-fw"></i><span>{{#i18n}}plannings.edit.last_temperature_statement_label{{/i18n}}</span>
            </span>
          </div>
          </div>
        {{/items}}
      </div>
      {{/sopac_ids}}
    {{/devices}}
  </div>
</div>
