<% if flash.any? %>
  <div class="flash-content">
    <% flash.each do |message_type, message| %>
      <div class="flash-message" data-level="<%= message_type %>">
        <%= message.html_safe %>
      </div>
    <% end %>
  </div>
<% end %>
