<div class="container-fluid" style="max-height: 500px; overflow: auto">
  {{#vra}}
      {{#routes_by_fleet_user}}
        <h4 style="color: {{#devices}}{{#fleet_user}}{{color}}{{/fleet_user}}{{/devices}}; border-bottom: 1px solid {{#devices}}{{#fleet_user}}{{color}}{{/fleet_user}}{{/devices}}; font-weight: bolder">
          <i class="fa fa-fw fa-truck"></i> {{#devices}}{{#fleet_user}}{{text}}{{/fleet_user}}{{/devices}}
        </h4>
        {{#routes}}
          <div class="col-md-12 col-sm-12 checkbox" style="margin-bottom: 20px">
            <label style="font-weight: bolder">
              <input type="checkbox" class="fleet-routes-selection" value="{{external_ref}}" data-user="{{fleet_user}}">
              <span>
                {{#name}}{{#i18n}}plannings.edit.fleet_clear.route.name{{/i18n}} : {{name}} {{/name}}
                {{^name}}{{#i18n}}plannings.edit.fleet_clear.route.number{{/i18n}} : {{route_id}} {{/name}}
              </span>
            </label>
            <div class="col-md-12 col-sm-12" style="color: gray"> {{date}} </div>
            {{#planning_name}}
              <div class="col-md-12 col-sm-12" style="color: gray"> {{planning_name}} </div>
            {{/planning_name}}
          </div>
        {{/routes}}
      {{/routes_by_fleet_user}}
  {{/vra}}
  {{^vra}}
    <h2 style="text-align: center">
      {{#i18n}}plannings.edit.fleet_clear.empty{{/i18n}}
    </h2>
  {{/vra}}
</div>
