<div id="move-stops" class="route col-md-12">
  <div class="form-inline pull-left move-stops-toggle">
    <button id="move-stops-toggle" type="button" class="btn btn-default btn-xs" data-toggle="selection" data-target="#move-stops" title="{{#i18n}}all.verb.toggle_selection{{/i18n}}">
      <i class="fa fa-check fa-fw"></i>
    </button>
  </div>
  <div class="form-inline pull-right move-stops-filter">
    <input id="move-stops-filter" placeholder="{{#i18n}}web.placeholder_filter{{/i18n}}" class="form-control" data-change="filter" data-target="#move-stops" type="text">
    <span id="move-stops_count">{{count}}</span> {{#i18n}}plannings.edit.stops{{/i18n}}
  </div>

  <div class="overflow-500 col-md-12 col-xs-12 col-sm-12">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
          <th />
        <th>{{moveStopsLabel}}</th>
      </tr>
    </thead>
    <tbody class="stops list-group" >
      {{#stops}}
        {{#destination}}{{#visits}}
        <tr class="{{type}} {{#error}}ui-state-error{{/error}}">
          <td>
           {{#vehicle}}
            <span class="number label label-default {{^active}}label-empty{{/active}} {{#color_force}}color_force{{/color_force}}" style="background-color: {{color}};">
              <span class="stop-status{{#status}} stop-status-{{status_code}}{{/status}}" title="{{status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}"{{^status}} style="display: none;"{{/status}}></span>
              {{stop_index}}
            </span>
            {{/vehicle}}

            <input type="checkbox" name="stop_ids" class="move-stops-stop-id" value="{{stop_id}}" checked="checked" multiple
              data-toggle="disable-multiple-actions" data-target=".modal-footer" />
          </td>
          <td class="title">
            {{^geocoded}}
              <i class="fa fa-map-marker fa-fw" title="{{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}"></i>
            {{/geocoded}}
            {{#out_of_window}}
              <i class="fa fa-clock-o fa-fw" title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"></i>
            {{/out_of_window}}
            {{#out_of_capacity}}
              <i class="fa fa-archive fa-fw" title="{{#i18n}}plannings.edit.error.out_of_capacity_help{{/i18n}}"></i>
            {{/out_of_capacity}}
            {{#out_of_drive_time}}
              <i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i>
            {{/out_of_drive_time}}
            {{#no_path}}
              <i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"></i>
            {{/no_path}}
            <span class="info">
              {{#active}}{{#geocoded}}{{^no_path}}
                <span>{{time}}{{#time_day}}&nbsp;(+{{time_day}}){{/time_day}}</span> -
              {{/no_path}}{{/geocoded}}{{/active}}
            </span>
            <span class="name" title="{{name}}{{#index_visit}} #{{index_visit}}{{/index_visit}}{{#status}} - {{status}}{{/status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}">{{name}}</span>{{#index_visit}} #{{index_visit}}{{/index_visit}}
          </td>
        </tr>
        {{/visits}}{{/destination}}
      {{/stops}}
    </tbody>
  </table>
  </div>

  <div class="col-md-12">
    <div id="move-stop-quantities"></div>
    <hr class="col-md-10 col-md-offset-1"/>
    <div class="move-stops-options">
      <div>
        <label >{{#i18n}}plannings.edit.dialog.move_stops.move_to{{/i18n}}</label>
      </div>
      <div class="move-route-selector">
        <select id="move-route-id" name="route_id" >
          {{#routes}}
          <option value="{{route_id}}" data-vehicle-usage-id="{{vehicle_usage_id}}"><span>{{name}}</span></option>
          {{/routes}}
        </select>
      </div>
    </div>
    <div id="move-stop-global-quantities"></div>
    <div class="index-option">
        <label for="move-index">{{#i18n}}plannings.edit.dialog.move_stops.index.label{{/i18n}}</label>
        <div class="move-stops-index form-group">
          <select id="move-index" class="form-control">
            <option value="-1" selected>{{#i18n}}plannings.edit.dialog.move_stops.index.end{{/i18n}}</option>
            <option value="1">{{#i18n}}plannings.edit.dialog.move_stops.index.start{{/i18n}}</option>
            <option value="">{{#i18n}}plannings.edit.dialog.move_stops.index.best_place{{/i18n}}</option>
          </select>
        </div>
      </div>
  </div>
</div>
